<h1>Add a New Store</h1>

<form method="POST" action="/stores/<%= store.id %>">
  <input type="hidden" name="_method" value="PUT">
  <div class="field">
    <label class="label">Store Location Name</label>
    <div class="control">
      <input class="input" name="locationName" type="text" value="<%= store.locationName %>" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Address</label>
    <div class="control">
      <input class="input" name="address" type="text" value="<%= store.address %>" required>
    </div>
  </div>
  <button>Update</button>
</form>
