<h1>Add a New Store</h1>

<form method="POST" action="/stores">
  <div class="field">
    <label class="label">Store Location Name</label>
    <div class="control">
      <input class="input" name="locationName" type="text" placeholder="Location Name" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Address</label>
    <div class="control">
      <input class="input" name="address" type="text" placeholder="Address" required>
    </div>
  </div>
  <button>Add</button>
</form>
