<h1 class="title is-1">Regsiter for an Account</h1>

<form method="POST" action="/register">

  <div class="field">
    <label class="label">Choose a username</label>
    <div class="control">
      <input class="input" name="username" type="text" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Enter email address</label>
    <div class="control">
      <input class="input" name="email" type="text" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Enter password</label>
    <div class="control">
      <input class="input" name="password" type="text" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Confirm password</label>
    <div class="control">
      <input class="input" name="passwordConfirmation" type="text" required>
    </div>
  </div>

  <button>Add</button>
</form>
