<h1 class="title is-size-2-tablet is-size-4-mobile">Regsiter for an Account</h1>
<div class="columns">
  <div class="column is-half-desktop">
    <form method="POST" action="/register">

      <div class="field">
        <label class="label">Choose a username</label>
        <div class="control">
          <input class="input" name="username" type="text" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Enter email address</label>
        <div class="control">
          <input class="input" name="email" type="text" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Enter password</label>
        <div class="control">
          <input class="input" name="password" type="password" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Confirm password</label>
        <div class="control">
          <input class="input" name="passwordConfirmation" type="password" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Link to profile picture: (optional)</label>
        <div class="control">
          <input class="input" name="photo" type="text">
        </div>
      </div>

      <button class="button is-info enforce-center">Add</button>
    </form>
  </div>
</div>
