<nav class="navbar ">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <p>RM<span class="burger-icon">B</span></p>
      <img src="assets/burger.png" alt="burger icon">
    </a>

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <a href="/stores">All Restaurants</a>
      </div>
      <% if (locals.isAuthenticated) {%>
        <div class="navbar-item">
          <a href="stores/new">Create new restaurant</a>
        </div>
      <%}
      %>
    </div>

    <div class="navbar-end">
      <% if (!locals.isAuthenticated) {%>
        <div class="navbar-item">
          <a href="/register">Register</a>
        </div>
        <div class="navbar-item">
          <a href="/login">Login</a>
        </div>
      <%} else {%>
        <div class="navbar-item">
          <a href="/logout">Logout</a>
        </div>
      <%}
      %>
    </div>
  </div>
</nav>
