<section class="hero is-success is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title home-banner">
        Rate My Burger
      </h1>
      <h2 class="subtitle">
        <a href="/stores">>>See Reviews<<</a>
      </h2>
    </div>
  </div>
</section>
