<h1 class="title is-1">Log in</h1>
<div class="columns">
  <div class="column is-half-desktop">
    <form method="POST" action="/login">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" name="email" type="text" placeholder="Email">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" name="password" type="password" placeholder="Password">
        </div>
      </div>
      <div class="control">
        <button class="button is-info enforce-center">Login</button>
      </div>
    </form>
  </div>
</div>
